* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Source Sans Pro Topnav', sans-serif;
}
body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 1.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Segoe UI', Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h4 a {
	text-decoration: none;
}
p {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	font-size: 15px;
}
strong {
	font-weight: bolder;
}
code,
pre {
	font-family: monospace;
	font-size: 1em;
}
a {
	color: inherit;
}
a:hover,
a:active {
	outline-width: 0;
	color: #059862;
}
ul {
	margin: 15px 0px;
	padding-left: 40px;
}
.code__span {
	color: crimson;
	padding: 0px 4px;
	font-size: 105%;
	background-color: rgba(222, 222, 222, 0.3);
}
.js__keyword-color {
	color: mediumblue;
}
.js__string-color {
	color: brown;
}
.js__number-color {
	color: red;
}
.js__comment-color {
	color: green;
}
.js__regexp-color {
	color: #f50;
}
header {
	z-index: 4;
	font-size: 14px;
	position: fixed;
	padding: 0;
	height: 56px;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}
.header__logo {
	width: 43px;
	display: block;
	padding: 8px 16px;
	border: none;
	outline: 0;
}
.header__menu-left {
	display: flex;
	justify-content: center;
}
.icon__menu {
	margin-left: 6px;
}
.button__menu {
	padding-top: 16px;
	padding-bottom: 16px;
	padding: 8px 16px;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.button__menu:hover {
	background-color: #04aa6d;
	color: #fff;
}
.header__search {
	position: relative;
	display: block;
	padding: 12px 8px;
	width: auto;
	border-color: #04aa6d;
}
#search__input {
	padding: 5px 40px 5px 15px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	width: 119px;
}
#search__input:focus,
textarea:focus {
	border: 1px solid #04aa6d;
	outline: none;
}
.search__submit-button {
	position: absolute;
	right: 8px;
	top: 12px;
	padding: 6px;
	width: 18px;
	height: 18px;
	border-radius: 25px;
	text-align: center;
}

.search__submit-button:hover {
	background-color: #f1f1f1;
	overflow: hidden;
}
.change__background-color {
	align-self: center;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-items: center;
}
.change__background-color:hover {
	background-color: #f1f1f1;
	border-radius: 50%;
	cursor: pointer;
}

.header__menu-right {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	padding-right: 5px;
	right: 0;
	overflow: hidden;
}
.menu__button-login {
	width: 130px;
	height: 24px;
	top: 35%;
	background-color: #d9eee1;
	color: #000;
	border-radius: 25px;
	font-size: 15px;
	line-height: 1.5;
	z-index: 4;
	margin-right: 10px;
	margin-left: 0;
	padding: 8px 16px;
	display: flex;
	justify-content: end;
	text-decoration: none;
}
.menu__button-login:hover {
	background-color: #059862;
	color: #fff;
}
.menu__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto !important;
	text-align: center;
	height: 25px;
	top: 50%;
	border-radius: 25px;
	padding: 8px 16px;
	margin-right: 8px;
}
.menu__button:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}
.menu__button-signup {
	position: absolute;
	width: 90px;
	height: 40px;
	border-radius: 25px;
	font-size: 15px;
	line-height: 1.5;
	z-index: 5;
	background-color: #04aa6d;
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu__button-signup:hover {
	background-color: #059862;
	color: #fff;
}
.button__logo {
	margin-right: 4px;
	color: #9763f6;
}
.tab-menu {
	position: fixed;
	top: 55px;
	width: 100%;
	background-color: #282a35;
	color: #f1f1f1;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro Topnav', sans-serif;
	overflow: auto;
	scrollbar-width: none;
	white-space: nowrap;
	display: flex;
	align-items: center;
	scrollbar-width: none;
	z-index: 2;
}
.tabmenu__item {
	color: inherit;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	line-height: 1.5;
	display: inline-block;
	width: auto;
	font-size: 15px;
	font-weight: 500;
	z-index: inherit;
}
.tabmenu__item.active {
	background-color: #04aa6d !important;
	color: #fff;
}
.tabmenu__item:hover {
	background-color: #000000;
	color: #fff;
}
.tabmenu__button {
	position: fixed;
	top: 55px;
	width: 20px;
	right: 0;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	background: linear-gradient(to left, #282a35 70%, transparent 100%);
	padding: 8px;
}
.sidebar {
	display: block;
	height: 100%;
	width: 230px;
	background-color: #fff;
	position: fixed;
	overflow: auto;
}
.topic__wrapper {
	position: fixed;
	height: 100%;
	top: 87px;
	padding-bottom: 0;
	width: 250px;
	background-color: transparent;
}
.sidebar .topic {
	position: relative;
	height: 86%;
	width: 100%;
	background-color: #e7e9eb;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 20px;
}
.topic h2 {
	font-size: 21px;
	padding-left: 16px;
	margin: -4px 0 4px 0;
	width: 204px;
}
.topic__link {
	display: block;
	position: relative;
	padding: 2px 15px 1px 40px;
	width: 100%;
	text-decoration: none;
	color: #000;
	line-height: 1.5;
}
.topic__link:hover {
	background-color: #cccccc;
}
.topic__link.active {
	background-color: #04aa6d;
	color: #fff;
}
.section {
	margin-left: 250px;
	min-width: 330px;
}
.main__wrapper {
	display: flex;
}
.main {
	width: 83.33333%;
	margin-top: 90px;
	padding: 16px 32px 32px 32px;
	border-right: 1px solid #f1f1f1;
	float: left;
}
.section__right {
	width: 16.66666%;
	text-align: center;
	margin-top: 90px;
	padding: 16px 8px;
	float: left;
}
.next-previous__block {
	display: block;
	margin-bottom: 70px;
}
.next-previous__block.end-section {
	margin-top: -20px;
}
.main__button {
	display: inline-block;
	padding: 6px 18px;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	color: #fff;
	background-color: #04aa6d;
	border-color: #04aa6d;
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.previous-topic {
	float: left;
	padding: 8px 19px;
}
.next-topic {
	float: right;
	padding: 8px 19px;
}
.main__button:hover {
	background-color: #059862;
}

.previous-topic:hover,
.next-topic:hover {
	color: #fff;
}

.main__info {
	background-color: #d9eee1;
	border-left: none;
	padding: 32px;
	margin: 24px;
	margin-left: -32px;
	margin-right: -32px;
}
.main__info p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.main__stretch {
	margin-left: -16px;
	margin-right: -16px;
}
.main__table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
}

.main__table tbody tr td {
	border: none;
}

.main__table td {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}
td a {
	color: #000 !important;
}

.main__table td:first-child {
	padding-left: 16px;
}

.main__example {
	padding: 8px 20px;
	margin: 24px -20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	background-color: #e7e9eb;
	border-radius: 5px;
}
.main__block-code {
	font-size: 15px;
	border-left: 4px solid #04aa6d;
	width: auto;
	background-color: #fff;
	color: #000;
	padding: 8px 12px;
	word-wrap: break-word;
	margin: 16px 0px;
}
.main__margin-bottom {
	margin-bottom: 16px;
}
.main__margin-top {
	margin-top: 16px;
}
.main__note {
	background-color: #ffffcc;
	border-left: none;
	margin: 24px -32px;
	padding: 16px 32px;
}
.main__responsive {
	display: block;
	overflow-x: auto;
}
.table__browser-ref {
	border-collapse: collapse;
	width: 100%;
}
tbody tr:first-child {
	height: 60px;
}
tbody tr:nth-child(even) {
	background-color: #e7e9eb;
}
tr th {
	width: 19.9%;
	height: 44px;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #d4d4d4;
	background-color: #ffffff;
	font-weight: normal;
	color: #555555;
	padding: 11px 0px 11px 0px;
	vertical-align: middle;
}
tr th:first-child {
	padding-left: 16px;
}
tr td {
	border: 1px solid #d4d4d4;
	text-align: center;
	padding: 8px 0px 8px 0px;
	vertical-align: top;
}
tr td:first-child {
	padding-left: 16px;
}
.browser__chrome {
	background-image: url(./assets/compatible_chrome.png);
}
.browser__edge {
	background-image: url(./assets/compatible_edge.png);
}
.browser__firefox {
	background-image: url(./assets/compatible_firefox.png);
}
.browser__safari {
	background-image: url(./assets/compatible_safari.png);
}
.browser__opera {
	background-image: url(./assets/compatible_opera.png);
}
.main__table--all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
	border: 1px solid #ccc;
	margin: 20px 0;
}
.main__table--all tr {
	border-bottom: 1px solid #ddd;
}
.main__table--all tr:nth-child(even) {
	background-color: #fff;
}
.main__table--all tr:first-child {
	background-color: #e7e9eb;
}
.main__table--all td {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}
.main__table--all td:first-child {
	padding-left: 16px;
	width: 120px;
}
#main__exercise-form {
	padding: 20px;
	margin: 32px -20px;
	background-color: #282a35;
	color: #ffffff;
	border-radius: 5px;
}
.exercise__window {
	background-color: #ffffff;
	padding: 16px;
	color: #000;
	border-radius: 5px;
}
.exercise__pre-container {
	background-color: #e7e9eb;
	padding: 16px;
	font-size: 120%;
	overflow: auto;
}
.exercise__pre-container pre {
	display: block;
}
.exercise__pre-container input {
	width: 136px;
	padding: 1px;
	border: 1px solid transparent;
	height: 1.3em;
}
.side-section {
	margin-bottom: 32px;
}
.fa-brands {
	font-size: 2em;
}
.fa-youtube:hover {
	color: #f44336;
}
.fa-linkedin:hover {
	color: #2867b2;
}
.fa-discord:hover {
	color: #5865f2;
}
.fa-facebook:hover {
	color: #3b5998;
}
.fa-instagram:hover {
	color: #8a3ab9;
}
footer {
	padding: 32px;
	border-top: 1px solid #f1f1f1;
}
.footer__wrapper {
	background-image: url(./assets/lynx_landing.webp), url(./assets//background_in_space.webp);
	background-color: #282a35;
	background-repeat: no-repeat, repeat;
	background-position: right bottom, center center;
}
.footer__content {
	padding: 40px 80px 300px;
	max-width: 1400px;
}

.footer__section {
	overflow: hidden;
	display: flex;
}

.footer__logo {
	font-size: 46px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(897%) hue-rotate(253deg)
		brightness(109%) contrast(73%);
}
.footer__logo:hover {
	filter: brightness(0) saturate(100%) invert(94%) sepia(83%) saturate(598%) hue-rotate(316deg)
		brightness(107%) contrast(106%);
}

.footer__links--1 {
	width: auto;
	float: left;
	padding: 40px 30px;
	color: #fff4a3;
}
.footer__links--1 a {
	color: inherit;
	text-decoration: none;
}
.footer__links--1 a:hover {
	text-decoration: underline;
}
.footer__links--1:first-child {
	padding: 30px 10px 30px 40px;
}
.footer__links--2 {
	width: auto;
	float: left;
	padding-left: 40px;
	padding-right: 130px;
	color: #ddd;
	font-size: 12px;
	line-height: 15px;
}
.footer__links--2:last-child {
	padding-right: 0;
}
.footer__links--2 h5 {
	margin-bottom: 20px;
}
.footer__links--2 a {
	text-decoration: none;
}
.footer__links--2 a:hover {
	color: #fff4a3;
}
.footer__brands {
	padding: 60px 40px 10px 40px;
	color: #ddd;
	font-size: 20px;
}
.footer__brands .fa-brands {
	font-size: 20px;
	margin-right: 10px;
}

.footer__brands .fa-brands:hover,
.footer__brands a:hover,
.footer__text a:hover {
	color: #fff4a3;
}
.text__link {
	font-size: 15px;
	text-decoration: none;
}
.text__link:hover {
	text-decoration: underline;
}
.footer__text {
	padding-left: 40px;
	color: #ddd;
	font-size: 12px;
	line-height: 15px;
}
